<div class="row">
  <div class="col-sm-12">
    <br>
    <h2 style="padding-left: 40px">Aplicacion</h2>
  </div>
</div>

<div class="row" style="margin-left: 20px; margin-top: 20px">
  <div class="col-sm-2">
    <div class="card" style="width: 300px;">
      <div class="card-body">

        <h3 class="card-title">Nombre Aplicacion</h3>
        <br>
        <h6 class="card-subtitle mb-2 text-muted">Peso GB: </h6>
        <h6 class="card-subtitle mb-2 text-muted">Version: </h6>
        <h6 class="card-subtitle mb-2 text-muted">Nombre: </h6>
        <h6 class="card-subtitle mb-2 text-muted">Url Descarga: </h6>
        <h6 class="card-subtitle mb-2 text-muted">Fecha Lanzamiento: </h6>
        <h6 class="card-subtitle mb-2 text-muted">Costo: </h6>
        <!--<h6 class="card-subtitle mb-2 text-muted">Sistema operativo id: </h6>-->

      </div>
    </div>

  </div>
</div>
