<div class="row" style="margin-left: 30px">

  <div class="col-sm-1"></div>


  <div class="col-sm-5">
    <div class="card">
      <div class="card-header" style="font-weight: bold">Datos de Cuenta</div>
      <div class="card-body">
        <p class="card-text">Nombre: Maritza</p>
        <p class="card-text">Apellido: Rodriguez</p>
      </div>
    </div>

  </div>

  <div class="col-sm-5">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
    Completar Orden
    </button>
  </div>

  <div class="col-sm-1"></div>
</div>

<br>

<div class="row" style="margin-left: 30px">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header" style="font-weight: bold">Datos de Facturacion</div>
      <div class="card-body">
        <p class="card-text">Nombre: </p>
        <p class="card-text">Apellido: </p>
        <p class="card-text">Correo: </p>
        <p class="card-text">Direccion: </p>
      </div>
    </div>
  </div>

  <div class="col-sm-5">

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
      Editar Datos
    </button>

  </div>
  <div class="col-sm-1"></div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">
    <br>
    <h2 style="padding-left: 40px">Aplicaciones:</h2>
  </div>
</div>


<div class="row" style="margin-left: 30px">
  <div class="col-sm-2" style="margin-left: 1000px; margin-top: 20px">
    <h5 class="card-title">Total: </h5>
   </div>
</div>
