<div class="row">

  <div class="col-sm-12">

    <app-menu></app-menu>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-sm-12">
    <br>
    <h2 style="padding-left: 40px">Sistemas Operativo</h2>
  </div>
</div>

<div class="row" style="margin-left: 20px; margin-top: 20px">
  <div class="col-sm-12" *ngFor="let info of detalle">
    <div class="card" style="width: 300px;">
      <div class="card-body">

        <h3 class="card-title"> {{info.nombre}}</h3>
        <br>
        <img class="card-img-top" src={{info.imagen}} alt="Card image cap" >
        <!--<h6 class="card-subtitle mb-2 text-muted">Nombre: </h6>-->
        <h6 class="card-subtitle mb-2 text-muted">Version Api: {{info.version}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Fecha Lanzamiento: {{info.fechaLanzamiento}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Peso GB:{{info.pesoGB}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">Instalado: {{info.instalado}}</h6>

      </div>
    </div>


  </div>
<br>
  <br>

</div>
  <div class="row">

    <div class="col-sm-12">
      <app-programas  [programa]="hijos"></app-programas>
    </div>

  </div>


